.advantages {
  position: relative;
  overflow: hidden;
}

.advantages__wrapper {
  padding: 37px 0 60px;

  @include vp-1199 {
    padding: 52px 45px 25px;
  }

  @include vp-767 {
    padding: 58px 15px 25px;
  }
}

.advantages__title-container {
  position: relative;
  margin-bottom: 44px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.advantages__title-container span {
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;
  text-align: center;

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
  }
}

.advantages__title-container h3 {
  position: absolute;
  top: 19px;
  right: 0;
  left: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
  text-align: center;

  @include vp-1199 {
    top: 17px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    top: 4px;
  }
}

.advantages__slider {
  padding: 0 120px;
  margin-bottom: 49px;

  @include vp-1199 {
    padding: 0;
    margin-bottom: 0;
  }
}

.advantages__slider-wrapper {
  @include vp-1199 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.advantages__slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 20px 26px;
  text-align: center;
  background-color: $color-default-white;
  border: 1px solid $color-grey-1;
  min-height: 330px;
  height: auto;

  @include vp-1199 {
    max-width: 324px;
    padding: 29px 20px 30px;
  }

  @include vp-767 {
    padding: 19px 10px 20px;
    max-width: 320px;
    min-height: 239px;
  }
}

.advantages__slider-slide--4 {
  @include vp-1199 {
    min-width: 380px;
    min-height: 290px;
  }

  @include vp-767 {
    padding: 20px 10px 19px;
    min-width: 290px;
    max-width: 320px;
    min-height: 236px;
  }
}

.advantages__slider-slide--4 .advantages__icon-container {
  @include vp-767 {
    margin-bottom: 20px;
  }
}

.advantages__icon-container {
  width: 54px;
  height: 54px;
  border: 1px solid $color-blue-1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @include vp-1199 {
    width: 48px;
    height: 48px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    width: 42px;
    height: 42px;
    margin-bottom: 19px;
  }
}

.advantages__icon-container svg {
  @include vp-1199 {
    width: 22px;
    height: 22px;
  }

  @include vp-767 {
    width: 22px;
    height: 23px;
  }
}

.advantages__slider-slide--4 h4 {
  @include vp-1199 {
    padding: 0 70px;
  }

  @include vp-767 {
    padding: 0 64px;
  }
}

.advantages__description-container h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.advantages__description-container p {
  margin: 0;

  @include vp-1199 {
    min-width: 284px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
    min-width: min-content;
  }
}

.advantages__buttons-container {
  display: flex;
  justify-content: center;
  gap: 4px;

  @include vp-1199 {
    display: none;
  }
}

.advantages__background-image-container {
  @include vp-767 {
    display: none;
  }
}

.advantages__background-image-container img {
  position: absolute;
  right: 0;
  bottom: 297px;
  z-index: -1;

  @include vp-1199 {
    width: 555px;
    height: 263px;
    bottom: 228px;
  }
}

.advantages__transfer {
  display: none;

  @include vp-767 {
    display: block;
  }
}

// .advantages__desktop-transfer {
//   display: block;

//   @include vp-1199 {
//     display: none;
//   }
// }

// .advantages__tablet-transfer {
//   display: none;

//   @include vp-1199 {
//     display: block;
//   }
// }
